:root{
	--pathmovedown: inset(0 0 100% 0);
	--pathmoveup: inset(100% 0 0 0);
	--pathmoveleft: inset(0 0 0 100%);
	--pathmoveright: inset(0 100% 0 0);

	--color_pinklight: #FFCCFF;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f2f2f2;
}
@font-face { 
  font-family: "Baskerville Old Face"; 
  src: url("baskerville.ttf"); 
} 


.bod{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.clip1{
	position: relative;
	width: 500px;
	height: 300px;
	background-color: red;
	background: rgb(121,58,180);
	background: linear-gradient(90deg, rgba(121,58,180,1) 0%, rgba(173,29,253,1) 50%, rgba(210,69,252,1) 100%);
	/*clip-path: circle(9% at 79% 21%);*/
	animation-name: motionpath, clipcurve, clipexpand;
	animation-duration:.8s, .5s, .8s;
	animation-delay: 0s, 2s, 2.5s;
	animation-timing-function: ease-in-out, linear, ease-in-out;
	animation-fill-mode: forwards;
	/*offset-path: path("M 261.069 146.089 C 261.069 146.089 410.586 191.182 453.305 51.158");*/
	/*offset-rotate: 0deg;*/
	clip-path: circle(0% at 50% 50%);

}
@keyframes motionpath {
	0% {
		clip-path: circle(0% at 50% 50%);
	}
	25% {
		clip-path: circle(10% at 50% 50%);
	}
	50%{
		clip-path: circle(4% at 50% 50%);
	}
	75%{
		clip-path: circle(8% at 50% 50%);
	}
	100%{
		clip-path: circle(6% at 50% 50%);
	}
}
@keyframes clipcurve{
	0% {
		clip-path: circle(6% at 50% 50%);
	}
	/*10% {
		clip-path: circle(6% at 40% 50%);
	}*/
	20% {
		clip-path: circle(6% at 57% 48%);
		/*clip-path: circle(6% at 40% 50%);*/
	}
	40%{
		clip-path: circle(6% at 68% 42%);
	}
	60%{
		clip-path: circle(6% at 77% 34%);
	}
	80%{
		clip-path: circle(6% at 84% 25%);
	}
	100%{
		clip-path: circle(6% at 87% 15%);
	}
}
@keyframes clipexpand {
	0% {
		clip-path: circle(6% at 87% 15%);
	}
	100%{
		clip-path: circle(166% at 87% 15%);
	}
}


.model1{
	opacity: 0;
	position: absolute;
	z-index: 999;
	height: 324px;
	bottom: 0px;
	right: 40px;
	animation-name: slideright;
	animation-duration: 1s;
	animation-delay: 3.3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes slideright{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
		transform: translateX(0px);
	}
	100%{
		opacity: 1;
		transform: translateX(20px);
	}
}
.slide_right{
	animation-name: slideright;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
.box_a{
	position: absolute;
	width: 500px;
	height: 250px;
	bottom: 0px;
	right: -100px;
	/*background-color: #4F349D;*/
	background-color: #6332f3;
	opacity: 0;
	clip-path: inset(100% 0 0 0);
}
.box_a_vid_bg{
	position: absolute;
	right: 0;
	top: -46px;
    width: 250px;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}
.box_a_vid_bg_left{
	position: absolute;
	left: 0;
	top: -46px;
    width: 250px;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}
.box_a_bottom{
	position: absolute;
	width: 500px;
	height: 50px;
	bottom: 0px;
	right: -100px;
	animation-delay: 5s !important;
	/*clip-path: inset(100% 0 0 0);*/
	background: rgb(153,153,204);
	background: linear-gradient(90deg, rgba(153,153,204,1) 0%, rgba(255,255,255,1) 100%);
}
.box_flag{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 0px;
	left: 0px;
	background-color: red;
	opacity: 0;
	/*clip-path: inset(100% 0 0 0);*/
	/*animation-delay: 10s !important;*/
	animation-delay: 8s !important;
}
.box_flag img{
	width: 100%;
	height: 100%;
}
.box_flag_name{
	position: absolute;
	width: 150px;
	height: 25px;
	bottom: 0px;
	left: 50px;
	background: rgb(102,51,153);
	background: linear-gradient(90deg, rgba(102,51,153,1) 0%, rgba(102,51,153,0) 100%);
	opacity: 0;
	clip-path: var(--pathmoveright);
	/*animation-delay: 11s !important;*/
	animation-delay: 10s !important;
}
.flag_name{
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	animation-delay: 11s !important;
}
.box_category{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 50px;
	left: 0px;
	background-color: #CA5AEA;
	opacity: 0;
	clip-path: var(--pathmovedown);
	animation-delay: 7s !important;
}
.category{
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	animation-delay: 8s !important;
}
.box_rank{
	position: absolute;
	width: 100px;
	height: 25px;
	bottom: 75px;
	left: 50px;
	background-color: #ffffff;
	opacity: 0;
	clip-path: var(--pathmoveright);
	animation-delay: 8s !important;
}
.rank{
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #4f349d;
	font-weight: 600;
	animation-delay: 9s !important;
}
.box_age{
	position: absolute;
	width: 140px;
	height: 25px;
	bottom: 50px;
	left: 50px;
	background: rgb(153,153,204);
	background: linear-gradient(90deg, rgba(153,153,204,1) 26%, rgba(153,153,204,0) 100%);
	opacity: 0;
	clip-path: var(--pathmoveright);
	animation-delay: 9s !important;
}
.age{
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 600;
	animation-delay: 10s !important;
}
.box_big_name{
	position: absolute;
	width: 200px;
	height: 100px;
	top: 50px;
	left: -100px;
	background-color: #4F349D;
	opacity: 0;
	animation-delay: 5s !important;
}
.box_big_name_under{
	position: absolute;
	width: 500px;
	height: 50px;
	top: 100px;
	left: -100px;
	opacity: 0;
	clip-path: var(--pathmoveright);
	background: rgb(204,153,204);
	background: linear-gradient(90deg, rgba(204,153,204,1) 0%, rgba(204,153,204,0) 100%);
	animation-delay: 13s !important;
}
.bigname{
	font-size: 222px;
	opacity: 0;
	animation-delay: 5s !important;
	line-height: 1;
	color: var(--color_pinklight);
	font-family: "Baskerville Old Face", sans-serif;
	font-weight: 400;
	position: absolute;
    z-index: 99;
    left: -100px;
    top: -30px;
    letter-spacing: -14px;
    padding-right: 32px;
}
.box_real_name{
	position: absolute;
	width: 300px;
	height: 50px;
	top: 150px;
	left: -100px;
	background: rgb(204,153,255);
	background: linear-gradient(90deg, rgba(204,153,255,1) 30%, rgba(204,153,255,0) 100%);
	opacity: 0;
	clip-path: var(--pathmoveright);
	display: flex;
    align-items: center;
    padding: 10px;
    animation-delay: 6s !important;
}
.realname{
	font-size: 36px;
    line-height: 1;
    color: white;
    position: absolute;
    z-index: 99;
    text-transform: uppercase;
    clip-path: var(--pathmoveright);
    animation-delay: 6s !important;
    font-family: sans-serif;
    letter-spacing: -2px;
	font-weight: 600;
}
.federation_logo{
	position: absolute;
	bottom: 50px;
	z-index: 99;
	right: -100px;
	color: white;
	padding: 12px;
	font-family: "Baskerville Old Face", sans-serif;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	animation-delay: 7s !important;
}



/*ANM_MOVE_LEFT*/
@keyframes moveleft{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
		clip-path: inset(0 0 0 100%);
	}
	100%{
		opacity: 1;
		clip-path: inset(0% 0 0 0);
	}
}
.move_left{
	animation-name: moveleft;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	clip-path: var(--pathmoveleft);
}
/*ANM_MOVE_RIGHT*/
@keyframes moveright{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
		clip-path: inset(0 100% 0 0);
	}
	100%{
		opacity: 1;
		clip-path: inset(0% 0 0 0);
	}
}
.move_right{
	animation-name: moveright;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	clip-path: var(--pathmoveright);
}
/*ANM_MOVE_UP*/
@keyframes moveup{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
		clip-path: inset(100% 0 0 0);
	}
	100%{
		opacity: 1;
		clip-path: inset(0% 0 0 0);
	}
}
.move_up{
	animation-name: moveup;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	clip-path: var(--pathmoveup);
}
.box_b{
	position: absolute;
	width: 100px;
	height: 50px;
	top: 0px;
	left: 0px;
	background-color: #CA5AEA;
	opacity: 1;
	clip-path: inset(100% 0 0 0);
}
@keyframes movedown{
	0%{
		opacity: 0;
	}
	1%{
		opacity: 1;
		clip-path: inset(0 0 100% 0);
	}
	100%{
		opacity: 1;
		clip-path: inset(0% 0 0 0);
	}
}
.move_down{
	animation-name: movedown;
	animation-duration: 1s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	clip-path: var(--pathmovedown);
}
